{% extends 'base.html' %}
{% load i18n static %}

{% block css_tail %}
<!-- jqgrid-->
<link href="{% static 'css/plugins/jqgrid/ui.jqgrid.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">                                                     
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 10px;"></div>
        <div class="ibox float-e-margins" style="margin-bottom: 10px;">
            <div class="ibox-content">
                <form enctype="multipart/form-data" method="post" action="{% url 'financial_statements:standing_book' %}" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="uploadFile">请上传文件</label>
                        <input type="file" name="uploadFile">

                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">确定</button>
                        <button class="btn btn-white" type="reset" id="resetBtn">重置</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox float-e-margins" style="margin-bottom: 10px;">
            <div class="ibox-content">
                <form class="form-inline" method="GET" action="{% url 'financial_statements:standing_book' %}" class="form-horizontal" id="search-form" autocomplete="off">
                    <!-- {% csrf_token %} -->
                    <div class="form-group">
                        <label><nobr>合同编号：</nobr></label>
                        <input type="text" class="form-control" placeholder="" name="contract_number" value="{{ contract_number }}">
                    </div>
                    <div class="form-group">
                        <label><nobr>客户名称（盖章客户名称）：</nobr></label>
                        <input type="text" class="form-control" placeholder="" name="customer_name" value="{{ customer_name }}">
                    </div>
                    <div class="form-group" style="float: right;margin-top: 20px;margin-right: 30px;">
                        <button class="btn btn-primary" type="submit" id="submitBtn">搜索</button>
                        <button class="btn btn-default" type="button" id="downLoad" jump="{% url 'financial_statements:download_standing_book' %}" >快速分期</button>
                    </div>
                    <div style="clear: both;"></div>
                </form>
                <input type="hidden" name="file_path" value="{% static 'tmp' %}">
            </div>
        </div>
        <div class="ibox ">
            <div class="ibox-content">

                <div class="jqGrid_wrapper" style="">
                    <table id="table_list_11"></table>
                </div>
                <div id="pager_list_11"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_tail %}
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/plugins/jqgrid/jquery.jqGrid.min.js' %}"></script>
    <script src="{% static 'js/plugins/jqgrid/i18n/grid.locale-cn.js' %}"></script>
    <script src="{% static 'js/content.js' %}"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/plugins/laydate/laydate.js' %}"></script>
    <script src="{% static 'js/financial_statements/standing_book.js' %}"></script>
{% endblock %}