{% extends 'base.html' %}
{% load i18n static %}

{% block css_tail %}
<!-- <link rel="stylesheet" href="https://unpkg.com/vue-easytable/umd/css/index.css">
<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.1/lib/theme-chalk/index.css"> -->

<link rel="stylesheet" href="{% static 'css/plugins/vue-easytable/umd/css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/element-ui@2.13.1/lib/theme-chalk/index.css' %}">

<!-- <link rel="stylesheet" href="{% static 'css/plugins/vue-easytable/umd/css/v-checkbox-group.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/vue-easytable/umd/css/v-search.css' %}"> -->
{% endblock %}

{% block body %}
<!-- <script src="{% static 'js/plugins/echarts/echarts-all.js' %}"></script>
<script src="{% static 'js/plugins/echarts/echarts.min.js' %}"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<script src="{% static 'js/npm/vue@2.6.11' %}"></script>
<script src="{% static 'js/plugins/qs/qs.min.js' %}"></script>
<script src="{% static 'js/axios/dist/axios.min.js' %}"></script>
<script src="{% static 'js/plugins/vue-easytable/easytable1.js' %}"></script>
<!-- <script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script> -->
<!-- <script src="https://unpkg.com/element-ui@2.13.1/lib/index.js"></script> -->
<script src="{% static 'js/element-ui@2.13.1/lib/index.js' %}"></script>

<div style="display: none;">
    <div id="table-source-api">{{ api }}</div>
    <div id="can-export">{{ can_export }}</div>
</div>
<style>
    .padding-5{
        padding: 0px 0px;
    }
    .mbt-10{
        margin-bottom: 10px;
    }
    .mbt-0{
        margin-bottom: 0px;
    }
    .mr-5{
        margin-right: 5px;
    }
    .mt-10{
        margin-top: 10px;
    }
    .footer-cell-class-name-title{
        background-color: #f60;
        color: #fff;
    }
    .footer-cell-class-name-normal{
        color: red;
    }
    .el-row {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    .gray-smaller-label {
        /* font-size: smaller;  */
        color: gray;
        margin-bottom: 5px;
    }
    .el-drawer__body {
        overflow: hidden;
    }
    .ibox{
        margin-bottom: 0px;
    }
    .ibox-content{
        padding-bottom: 10px;
    }
    [v-cloak]{
        display: none;
    }
    tbody tr{
        height: 30px;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="ibox " id="saler-kpi-month" v-cloak>
            <div class="ibox-title" style="padding-top: 8px;"> 
                <div id="button-group">
                    <el-button-group v-show="canExport">
                        <el-button @click="expt" type="primary" :disabled="exportDisabled" icon="el-icon-download" :loading="exporting" class="el-button--mini">
                            导出
                        </el-button>
                    </el-button-group>
                    <!-- <el-date-picker v-show="showDatePicker"
                        v-model="date"
                        type="date"
                        size="mini"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd"
                        placeholder="选择日期"
                        :picker-options="pickerOptions">
                    </el-date-picker>  -->
                    <el-date-picker v-show="showDatePicker"
                        v-model="date"
                        type="month"
                        size="mini"
                        format="yyyy 年 MM 月"
                        value-format="yyyy-MM"
                        placeholder="选择日期">
                    </el-date-picker> 
                    <template v-if="showSalerSelector">  
                        <el-select v-show="salers.length"
                            v-model="istarshine_id" 
                            filterable 
                            size="mini"
                            placeholder="请选择">
                            <el-option
                              v-for="item in salers"
                              :key="item.istarshine_id"
                              :label="item.username"
                              :value="item.istarshine_id">
                            </el-option>
                        </el-select>
                    </template>
                    <template>
                        <template v-for="(v, k) in conditions">
                            <span style="border: solid 1px; border-radius: 4px; border-color: rgba(255,255,255,.5); background-color: white;">
                                <span type="" class="el-button--mini">
                                    [[ v ]]
                                </span>
                                <i @click="removeCondition(k)" class="el-icon-close" style="cursor: pointer;"></i>
                            </span>
                        </template>
                    </template>
                </div>
            </div>
            <div class="ibox-content">

                <div class="">
                    <div>
                        <div>                        
                            <template>
                                <div style="margin-bottom: 5px;">
                                    <v-table 
                                            ref="table1"
                                            :is-loading = "loading"
                                            is-vertical-resize
                                            :vertical-resize-offset='40'
                                            is-horizontal-resize
                                            style="width:100%"
                                            :multiple-sort="false"
                                            :min-height="350"
                                            even-bg-color="#f2f2f2"
                                            :title-rows="tableConfig.titleRows"
                                            :columns="tableConfig.columns"
                                            :table-data="tableConfig.tableData"
                                            row-hover-color="#eee"
                                            row-click-color="#edf7ff"
                                            @sort-change="sortChange"
                                            :paging-index="(pageIndex-1)*pageSize"
                                            :filter-method="filterMethod"
                                            @search-method="searchMethod"
                                            :footer="footer"
                                            :footer-cell-class-name="setFooterCellClass"
                                            :footer-row-height="40"
                                    ></v-table>
                                </div>
                                <div v-show="needRetry">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"><el-button @click="retry" style="margin-left: 46%;">重试</el-button></div>
                                    <div class="col-md-4"></div>
                                    <div class="clearfix" style="display: none;"></div>
                                </div>
                                <div class="mt20 mb20 bold mt-10" v-show="!needRetry">
                                    <div>
                                        <v-pagination 
                                            size="small"
                                            @page-change="pageChange" 
                                            @page-size-change="pageSizeChange" 
                                            :total="total"
                                            :page-index="pageIndex"
                                            :page-size="pageSize" 
                                            :layout="['total', 'prev', 'pager', 'next', 'sizer', 'jumper']"
                                        ></v-pagination>
                                    </div>
                                </div>
                            </template>
                                            
                            <style>
                                .title-cell-class-name-test1 {
                                    background-color: #2db7f5;
                                    color:#fff;
                                }
                                .title-cell-class-name-test2 {
                                    background-color: #f60;
                                    color:#fff;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <!-- <p>&nbsp;</p>
                <h4 class="m-t">高级用法</h4>


                <div class="jqGrid_wrapper">
                    <table id="table_list_2"></table>
                    <div id="pager_list_2"></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div id="init-data" style="display: none;">{{ init_data }}</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js_tail %}
    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

    <!-- JSKnob -->
    <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>
    <!-- <script src="{% static 'js/plugins/echarts/china.js' %}"></script> -->
    <!-- <script src="{% static 'js/sale/g-center-data.js' %}"></script> -->
    <script src="{% static 'js/sale/saler-kpi-mixin.js' %}"></script>
    <script src="{% static 'js/sale/saler-kpi-month.js' %}"></script>
{% endblock %}