{% extends 'base.html' %}
{% load i18n static %}

{% block css_tail %}
<!-- jqgrid-->
<link href="{% static 'css/plugins/jqgrid/ui.jqgrid.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<script>

</script>
<div style="display: none;">
    <div id="department-api">{{ departments_api }}</div>
    <div id="department-data">{{ department_data }}</div>
    <div id="department-data-1">{{ department_data_1 }}</div>
    <div id="saler-list-api">{% url 'sale:saler_list_api' %}</div>
    <div id="fields-to-check">{{ fields_to_check }}</div>
    <div id="user-log-url">{{ user_log_url }}</div>
    <div id="export-saler-list">{% url 'sale:export_saler_list' %}</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div style="margin-top: 10px;"></div>
        <div class="ibox float-e-margins" style="margin-bottom: 10px;">
            <!-- <div style="margin-top: 5px;"></div> -->
            <!-- <div class="ibox-title">
                <h5>商务人员列表</h5>
                <div class="ibox-tools"></div>
            </div> -->
            <div class="ibox-content">
                <form method="GET" onsubmit="return false;" class="form-horizontal" id="saler-list-filter-form">
                    <!-- {% csrf_token %} -->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-6" style="margin-top: 5px;">
                                <label><nobr>姓名：</nobr></label>
                                <input type="text" class="form-control" placeholder="模糊查询"  name="username"/>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" style="margin-top: 5px; display: none;">
                                <input name="department" id="department-value" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-1" style="margin-top: 5px;">
                                <label><nobr>部门：</nobr></label>
                                <select type="text" class="form-control" id="department-1" onchange="onDepartmentChange1()" style="padding-top: 2px;">
                                    <option>--------</option>
                                    <option value="1">一大区</option>
                                    <option value="2">二大区</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-2" style="margin-top: 5px; display: none;">
                                <label><nobr>二级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-2" onchange="onDepartmentChange2()" style="padding-top: 2px;"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-3" style="margin-top: 5px; display: none;">
                                <label><nobr>三级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-3" onchange="onDepartmentChange3()" style="padding-top: 2px;"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-4" style="margin-top: 5px; display: none;">
                                <label><nobr>四级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-4" onchange="onDepartmentChange4()" style="padding-top: 2px;"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-5" style="margin-top: 5px; display: none;">
                                <label><nobr>五级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-5" onchange="onDepartmentChange5()" style="padding-top: 2px;"></select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3" id="id_department-6" style="margin-top: 5px; display: none;">
                                <label><nobr>六级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-6" onchange="onDepartmentChange6()"></select>
                            </div>
                            <div class="col-md-2 col-sm-2" id="id_department-7" style="margin-top: 5px; display: none;">
                                <label><nobr>七级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-7" onchange="onDepartmentChange7()"></select>
                            </div>
                            <div class="col-md-1 col-sm-2" id="id_department-8" style="margin-top: 5px; display: none;">
                                <label><nobr>八级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-8" onchange="onDepartmentChange8()"></select>
                            </div>
                            <div class="col-md-1 col-sm-2" id="id_department-9" style="margin-top: 5px; display: none;">
                                <label><nobr>九级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-9" onchange="onDepartmentChange9()"></select>
                            </div>
                            <div class="col-md-1 col-sm-2" id="id_department-10" style="margin-top: 5px; display: none;">
                                <label><nobr>十级部门:</nobr></label>
                                <select type="text" class="form-control" id="department-10" onchange="onDepartmentChange10()"></select>
                            </div>
                            <!-- <div class="col-lg-3 col-md-4 col-sm-6" id="data_6" style="margin-top: 5px;">
                                <label><nobr>销售日期：</nobr></label>
                                <div class="input-daterange input-group" id="datepicker6">
                                    <input type="text" class="input-sm form-control" name="sale_start" 
                                            value="{% if form.sale_start.value %}{{ form.sale_start.value }}{% else %}{{ form.sale_start.field.value }}{% endif %}" />
                                    <span class="input-group-addon">至</span>
                                    <input type="text" class="input-sm form-control" name="sale_finish"  
                                            value="{% if form.sale_finish.value %}{{ form.sale_finish.value }}{% else %}{{ form.sale_finish.field.value }}{% endif %}" />
                                </div>
                            </div> -->
                            <div class="col-lg-2 col-md-4 col-sm-6" style="float: right; margin-top: 5px;">
                                <label></label>
                                <div>                                        
                                    <button class="btn btn-primary col-md-6 col-sm-6" type="submit" id="submitBtn">搜索</button>
                                    <button class="btn btn-white col-md-5 col-sm-4" type="reset" style="float: right;" id="resetBtn">重置</button>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        <div class="ibox ">
             <!-- style="margin-top: 10px;" -->
            <!-- <div class="ibox-title">
                <h5>jQuery Grid Plugin – jqGrid</h5>
            </div> -->
            <div class="ibox-content">

                <div class="jqGrid_wrapper">
                    <table id="table_list_1"></table>
                    <div id="pager_list_1"></div>
                </div>
                <!-- <p>&nbsp;</p>
                <h4 class="m-t">高级用法</h4>


                <div class="jqGrid_wrapper">
                    <table id="table_list_2"></table>
                    <div id="pager_list_2"></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div id="init-data" style="display: none;">{{ init_data }}</div>
{% endblock %}

{% block js_tail %}
    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>

    <!-- jqGrid -->
    <script src="{% static 'js/plugins/jqgrid/i18n/grid.locale-cn.js' %}"></script>
    <script src="{% static 'js/plugins/jqgrid/jquery.jqGrid.min.js' %}"></script>
    
    <!-- 自定义js -->
    <script src="{% static 'js/content.js' %}"></script>

    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

    <!-- JSKnob -->
    <script src="{% static 'js/plugins/jsKnob/jquery.knob.js' %}"></script>

    <!-- Input Mask-->
    <!-- <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script> -->

    <!-- Date picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <!-- Prettyfile -->
    <!-- <script src="js/plugins/prettyfile/bootstrap-prettyfile.js"></script> -->

    <!-- NouSlider -->
    <!-- <script src="js/plugins/nouslider/jquery.nouislider.min.js"></script> -->

    <!-- Switchery -->
    <!-- <script src="js/plugins/switchery/switchery.js"></script> -->

    <!-- IonRangeSlider -->
    <script src="{% static 'js/plugins/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>

    <!-- iCheck -->
    <!-- <script src="js/plugins/iCheck/icheck.min.js"></script> -->

    <!-- MENU -->
    <!-- <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script> -->

    <!-- Color picker -->
    <!-- <script src="js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script> -->

    <!-- Clock picker -->
    <!-- <script src="js/plugins/clockpicker/clockpicker.js"></script> -->

    <!-- Image cropper -->
    <!-- <script src="js/plugins/cropper/cropper.min.js"></script> -->

    <!-- <script src="{% static 'js/demo/form-advanced-demo.js' %}"></script> -->
    <script src="{% static 'js/sale/saler_list.html.js' %}"></script>
{% endblock %}