{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'login/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'login/css/font-awesome.min.css' %}" type="text/javascript" rel="stylesheet">
		<link href="{% static 'login/css/bootsnav.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'login/css/normalize.css' %}" type="text/css" rel="stylesheet">
		<link href="{% static 'login/css/css.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'login/js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'login/js/bootstrap.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'login/js/bootsnav.js' %}" type="text/javascript"></script>
		<script src="{% static 'login/js/jquery.js' %}" type="text/javascript"></script>
		<!--[if IE]><script src="js/html5.js"></script><![endif]-->
		<title>星光运营平台 - 登录</title>
	</head>

	<body class="logobg_style">
		<div id="large-header" class="large-header login-page">
			<canvas id="demo-canvas" width="1590" height="711"></canvas>
			<div class="login-form">
				<div class="login-content">
					<h1 class="title_name">星光运营平台登录</h1>
					<form method="post" role="form" id="form_login" class="login_padding" onsubmit="return cliLogin();">
						{% csrf_token %}
						<div class="form-group clearfix">

							<div class="input-group">
								<div class="input-group-addon">
									<i class="icon_user"></i>
								</div>

								<input type="text" class="form-control" name="username" id="username" type="number"
									placeholder="手机号" value="{{ username }}" autocomplete="off" onclick="clearTip()">
							</div>

						</div>

						<div class="form-group clearfix">

							<div class="input-group">
								<div class="input-group-addon">
									<i class="icon_password"></i>
								</div>

								<input type="password" class="form-control" name="password" id="password" value="{{ password }}" placeholder="密码" autocomplete="off" onclick="clearTip()">
							</div>

						</div>

						<!-- <div class="form-group clearfix">
							
							<input class="pull-left" type="checkbox" name="remember" {{ checked }}>
							<label class="pull-left" style="color: white;">记住用户名</label>

						</div> -->
						
						<!-- <div class=" textright"><a href="#" class="forget">忘记密码？</a></div> -->
						<div id="errmsg" style="display: none;">{{ errmsg }}</div>
						<div class="tishi"></div>
						<!-- <div class="form-group">
							<a href="javascript:;" type="submit" class="btn btn-danger btn-block btn-login" onClick="cliLogin()">
								<i class="fa fa-sign-in"></i>
								登录
							</a>
						</div> -->
						<div class="form-group">
							<input type="submit" class="btn btn-danger btn-block btn-login" value="登录">
						</div>
						<!-- <div class=" textright"><a href="registered.html" class="forget">立即注册</a></div> -->
						<!-- Implemented in v1.1.4 -->				
						<!-- <div class="form-group"></div>	 -->
					</form>
				</div>  			
			</div>
		</div>
		<script src="{% static 'login/js/errmsg.js' %}"></script>  	
		<script src="{% static 'login/js/TweenLite/TweenLite.min.js' %}"></script>
		<script src="{% static 'login/js/TweenLite/EasePack.min.js' %}"></script>
		<script src="{% static 'login/js/TweenLite/rAF.js' %}"></script>
		<script src="{% static 'login/js/TweenLite/demo-1.js' %}"></script>
	</body>
</html>
